<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459980775376-1628cd95pb5gaaohv4i5804s0k3rh811.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459980775376-1628cd95pb5gaaohv4i5804s0k3rh811</string>
	<key>API_KEY</key>
	<string>AIzaSyAVvdWCzaqMtvB2o2g7Yc3vKIhBO2MFzK8</string>
	<key>GCM_SENDER_ID</key>
	<string>459980775376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.splitnest</string>
	<key>PROJECT_ID</key>
	<string>splitnest</string>
	<key>STORAGE_BUCKET</key>
	<string>splitnest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459980775376:ios:f39341780535aed3e3e3d5</string>
	<key>DATABASE_URL</key>
	<string>https://splitnest-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>